*~
*.d
*.dmg
*.elf
*.map
*.nds
*.o
*.img
*.tar.gz
.DS_Store
/build
/doc
/dslibris.log
/dslibris.img
/mnt
/portlibs/bin
/portlibs/include
/portlibs/freetype-2.5.5
/portlibs/lib
/portlibs/share
/release.zip
/venv
