*~
*.d
*.dmg
*.elf
*.map
*.nds
*.o
*.img
*.tar.gz
#.*#
.DS_Store
/build
/cflash
/doc
/dslibris.log
/dslibris.img
/dslibris.3dsx
/dslibris.lst
/dslibris.smdh
/mnt
/portlibs/bin
/portlibs/include
/portlibs/freetype-2.5.5
/portlibs/lib
/portlibs/share
/release.zip
/venv
