calico
default-arm7
devkitARM-gdb
devkitarm-crtls
devkitarm-rules
devkitpro-keyring
dkp-toolchain-vars
dstools
grit
libfat-nds
libnds
nds-bzip2
nds-freetype
nds-libexpat
nds-libpng
nds-pkg-config
nds-zlib
ndstool
